@use "variables" as *;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:$font-family;
    color:$primary;
}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    width:100%;
    display:block;
}

.container{
    max-width:1320px;
}


@import './header';